Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Build Docs:
  script:
  - uv run nox -s build_docs

Run CBCT Tests:
  script:
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cbct.py -n 2 --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run ACR CT/MRI Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Cheese Phantom Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cheese.py --cov=pylinac.cheese --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Quart Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Planar Imaging Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  - kill $MONITOR_PID
  ...

Run DLG Tests:
  script:
  - uv run pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Field Analysis Tests:
  script:
  - uv run pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Machine Logs Tests:
  script:
  - uv run pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Picket Fence Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  - kill $MONITOR_PID
  ...

Run Starshot Tests:
  script:
  - uv run pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run TG-51/TRS-398 Tests:
  script:
  - uv run pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

bump for release
  pylinac/version.py
Due: none

move docs to v3.33
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
Due: Build Docs

Mark tests using non-public data as proprietary
  pyproject.toml
  tests_basic/conftest.py
  tests_basic/contrib/test_orthogonality.py
  tests_basic/contrib/test_quasar.py
  tests_basic/core/test_gamma.py
  tests_basic/core/test_image.py
  tests_basic/core/test_image_metrics.py
  tests_basic/core/test_io.py
  tests_basic/core/test_profile.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_dlg.py
  tests_basic/test_field_analysis.py
  tests_basic/test_field_profile_analysis.py
  tests_basic/test_logs.py
  tests_basic/test_nuclear.py
  tests_basic/test_picketfence.py
  tests_basic/test_plan_generator.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
  uv.lock
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Picket Fence Tests, Run Starshot Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Load test files in base classes
  tests_basic/conftest.py
  tests_basic/core/test_image.py
  tests_basic/test_generated_plans.py
  tests_basic/test_logs.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests, Run core module tests

Revert test selection changes, add contributing instructions
  bitbucket-pipelines.yml
  docs/source/contributing.rst
  noxfile.py
  pyproject.toml
Due: Build Docs

Select all tests in CI/CD pipelines
  bitbucket-pipelines.yml
  noxfile.py
Due: none

Merged in bugfix/RAM-4239-epid-translation (pull request #511)
  docs/source/changelog.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in bugfix/RAM-3878-inverted-dicom-export (pull request #512)
  docs/source/changelog.rst
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Build Docs, Plan generator tests

Corrected avg_gamma & avg_gamma_pct functions
  pylinac/log_analyzer.py
Due: Run Machine Logs Tests

version bump
  pylinac/version.py
Due: none

Uses scipy vectorized_filter for gamma analysis
  pylinac/core/gamma.py
  pyproject.toml
  uv.lock
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

feat(analyze): add max_wobble_diameter parameter
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Run Starshot Tests

move CI/CD to self-hosted runner
  bitbucket-pipelines.yml
Due: none

Run pre-commit. Renamed test file.
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Run Starshot Tests

Renamed test case to match test file.
  tests_basic/test_starshot.py
Due: Run Starshot Tests

Cleanup loop that searches for a reasonable wobble.
  pylinac/starshot.py
Due: Run Starshot Tests

fix: correct wl perfect test.
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests

Added info changelog.rst
  docs/source/changelog.rst
Due: Build Docs

Corrected the nominal size of the SNC MV (Lead) phantom. Phantom detection is now more robust.
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Test only. Clean up when a test is performed vs when it's skipped.
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

bump version
  pylinac/version.py
Due: none

Merged in self-hosted-bb-runner (pull request #515)
  bitbucket-pipelines.yml
  docs/source/changelog.rst
  pylinac/core/io.py
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Test only. Clean up when a test is performed vs when it's skipped.
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Add support to CatPhan 700. This PR supports the modules for HU.
  pylinac/__init__.py
Due: none

Test
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Added support to HU linearity for CatPhan 700
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Merged in use-pyproject-requirements (pull request #521)
  bitbucket-pipelines.yml
  docs/source/conf.py
  noxfile.py
  pyproject.toml
  tests_basic/test_winstonlutz_mtmf.py
  uv.lock
Due: none

Additional comments based on PR review.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Non impact change: moved CTP400CP700 next to the other CTP400 classes.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Merged in developers-guide-start (pull request #523)
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/developer.rst
  docs/source/index.rst
  docs/source/installation.rst
  noxfile.py
Due: Build Docs

fix kraken dev update flow
  bitbucket-pipelines.yml
Due: none

Moves optional-dependencies to dependency-groups
  .readthedocs.yaml
  bitbucket-pipelines.yml
  pyproject.toml
Due: none

Merged in editable (pull request #526)
  pylinac/core/contrast.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Rename file name series for CatPhan Series1
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Merged in cache-optimization (pull request #528)
  bitbucket-pipelines.yml
  tests_basic/__init__.py
Due: none

Merged in speed-up-runners (pull request #529)
  bitbucket-pipelines.yml
  pylinac/core/array_utils.py
  pylinac/core/io.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **/*.rst, *.rst
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
