Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **.py, docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, tests_basic/test_field_profile_analysis.py, pylinac/field_profile_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz_mtmf.py, pylinac/winston_lutz.py
  Run Nuclear Tests: any of: pylinac/core/**, tests_basic/test_nuclear.py, pylinac/nuclear.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, tests_basic/test_generated_plans.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Remove label position arguments.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Remove label position.
  docs/source/planar_imaging.rst
Due: Build Docs

update version to 3.44.0
  pylinac/version.py
Due: none

Address PR review comments.
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Phantom roll.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Make condition more robust.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Release notes.
  docs/source/changelog.rst
Due: Build Docs

Merged in feature/RAM-5809-helios-results (pull request #697)
  docs/source/changelog.rst
  pylinac/ct.py
  pylinac/helios.py
  tests_basic/test_helios.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Doselab rotation.
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

PR review comments.
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Per-slice spoke score.
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Fix test.
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Nuclear 4bar.
  docs/source/changelog.rst
  pylinac/nuclear.py
  tests_basic/test_nuclear.py
Due: Build Docs, Run Nuclear Tests

DRCS spoke angles.
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

nuclear equation
  docs/source/nuclear.rst
Due: Build Docs

DRCS spoke angles order.
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Fix type.
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Merged in gcp-download-check (pull request #699)
  tests_basic/test_picketfence.py
  tests_basic/utils.py
Due: Run Picket Fence Tests

Add Small ACR Mammography phantom and tests
  active_tests.json
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/__init__.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
  uv.lock
Due: Build Docs, Run Planar Imaging Tests

Address PR comments.
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Added comments.
  pylinac/nuclear.py
Due: Run Nuclear Tests

Plot lines.
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Fix docstring.
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Update planar_imaging.py
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Update dicom.py
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

Fix fiber
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Merged in bugfix/RAM-5356-roi-label-saving (pull request #706)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in bugfix/RAM-5918-warning-captures (pull request #705)
  docs/source/changelog.rst
  pylinac/core/utilities.py
  pylinac/core/warnings.py
  pylinac/field_analysis.py
  pylinac/nuclear.py
  pylinac/starshot.py
  tests_basic/core/test_warnings.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_cheese.py
  tests_basic/test_field_profile_analysis.py
  tests_basic/test_helios.py
  tests_basic/test_nuclear.py
  tests_basic/test_picketfence.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_quart.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
  tests_basic/test_winstonlutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Refactor gamma calculation in log analyzer to include normalization option and improve overall gamma computation. We can now compute both local and global gamma.
  pylinac/core/gamma.py
  pylinac/log_analyzer.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Refactor noise power spectrum calculation to extract ROIs from image and improve parameter handling. Added support for overlapping small ROIs and return mean pixel value for NNPS calculations.
  pylinac/core/mtf.py
  pylinac/core/nps.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

bump version
  pylinac/version.py
Due: none

Merged in task/RAM-5608-pylinac-add-option-to-swap-dmlc-and-open-fields-for-vmat-analyses (pull request #709)
  docs/source/changelog.rst
  docs/source/vmat_docs.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Merged in bugfix/RAM-5972-quart-roll (pull request #708)
  docs/source/changelog.rst
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run Quart Tests

Merged in feature/RAM-5574-drcs-rotation-offset (pull request #710)
  docs/source/changelog.rst
  docs/source/vmat_docs.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Fix noise power spectrum calculation by removing mean subtraction from ROI before FFT, so NPS is not null anymore at zero frequency
  pylinac/core/nps.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Enhance noise power spectrum calculation by detrending the big ROI using a 2D polynomial fit before dividing into smaller overlapping ROIs.
  pylinac/core/nps.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

test(utils): add cloud downloader auth policy and skip controls
  .gitignore
  tests_basic/core/test_utilities.py
  tests_basic/utils.py
Due: Run core module tests

test: migrate cloud-backed tests to decorator-based data loading
  tests_basic/contrib/test_orthogonality.py
  tests_basic/contrib/test_quasar.py
  tests_basic/core/test_image.py
  tests_basic/test_acr.py
  tests_basic/test_dlg.py
  tests_basic/test_field_analysis.py
  tests_basic/test_field_profile_analysis.py
  tests_basic/test_generated_plans.py
  tests_basic/test_quart.py
  tests_basic/test_vmat.py
Due: Run ACR CT/MRI Tests, Run Quart Tests, Run DLG Tests, Run Field Analysis Tests, Run VMAT Tests, Plan generator tests, Run core module tests

refactor(test_image): replace local decorator with requires_cloud_data
  tests_basic/core/test_image.py
  tests_basic/utils.py
Due: Run core module tests
