Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **/*.rst, *.rst
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Wording.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

handle intrinsic/extrinsic combos.
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

small updates
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Typos.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Revert Stack naming to separate this refactoring to another one.
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Make Stack an Enum.
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Adapt rst file accordingly.
  docs/source/plan_generator.rst
Due: Build Docs

Update to match master
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Updated link for the 'Large and Medium Phantom Test Guidance' document. Small adjustments to text to match the content of the document.
  docs/source/acr.rst
Due: Build Docs

BeamLimitingDevicePositionSequence is mandatory for the first control point so there is no need for a safe check.
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Refactored code but there is no improvement in performance.
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/fluence.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Clean up
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/fluence.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Remove unused methods.
  pylinac/plan_generator/fluence.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Adjust case for image rows out of leaf boundaries.
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Wording
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Clean up
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Since A and B are flipped, the 'larger than' or 'larger and equal than' should be opposite
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Handle exceptional case when there are no beams in the plan.
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Typo
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Wording
  docs/source/acr.rst
Due: Build Docs

Code cleanup based on code review. Relace None, with np.newaxis where applicable to make it more readable.
  pylinac/plan_generator/fluence.py
Due: Plan generator tests

Improvements to the performance of gamma_2d. The concept is to pre-calculate as much as possible outside the for loops.
  pylinac/core/gamma.py
  tests_basic/core/test_gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Handle special case when refence is zero, and then the normalized values become nan.
  pylinac/core/gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added entry to chagelog
  docs/source/changelog.rst
Due: Build Docs

Added entry to changelog
  docs/source/changelog.rst
Due: Build Docs

Correct rst formatting
  docs/source/changelog.rst
Due: Build Docs

Improve on the final calculation: avoid sqrt and memory access if capital gamma is already above cap.
  pylinac/core/gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Fix dtype of gamma array
  pylinac/core/gamma.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Realignment of notation.
  docs/source/changelog.rst
  docs/source/topics/gamma.rst
  pylinac/core/gamma.py
  pylinac/core/profile.py
  tests_basic/core/test_gamma.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Wording.
  docs/source/changelog.rst
  tests_basic/core/test_gamma.py
Due: Build Docs, Run core module tests

Fix notation in test_profile.
  tests_basic/core/test_profile.py
Due: Run core module tests

Wording.
  docs/source/changelog.rst
Due: Build Docs

defined by matrix, not scikit tform
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

clarify docs
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

position spatial resolution ROIs using chained transforms
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Merged in intrinsic-transforms (pull request #555)
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in relative-import-version (pull request #566)
  docs/source/changelog.rst
  pylinac/__init__.py
Due: Build Docs

Merged in docs/RAM-4914-symmetry-varian-definition (pull request #564)
  docs/source/changelog.rst
  docs/source/field_analysis.rst
Due: Build Docs

Merged in vmat-pixel-rounding (pull request #557)
  docs/source/changelog.rst
  tests_basic/test_vmat.py
Due: Build Docs, Run VMAT Tests

Use skikit-image.transform instead of ad-hoc transform2d
  pylinac/core/geometry.py
  pylinac/ct.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests
