Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **.py, docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, tests_basic/test_field_profile_analysis.py, pylinac/field_profile_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz_mtmf.py, pylinac/winston_lutz.py
  Run Nuclear Tests: any of: pylinac/core/**, tests_basic/test_nuclear.py, pylinac/nuclear.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, tests_basic/test_generated_plans.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

chore: ignore demo_files folder
  .gitignore
Due: none

fix(test_picketfence): scope bb_setup.dcm and pf.dcm test files to a temp directory
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

fix(tests): scope split-plot file saves to temp directories
  .gitignore
  tests_basic/test_field_analysis.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests, Run Field Analysis Tests

Merged in bugfix/RAM-6028-elekta-vmat-swap (pull request #712)
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Feature: Added the ability to pass a seed when adding a RandomNoiseLayer
  pylinac/core/image_generator/layers.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in feature/RAM-6037-wl-missing-axis-values (pull request #713)
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/core/image.py
  pylinac/winston_lutz.py
  tests_basic/core/test_image.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Add BeadMTF class for PSF-based MTF calculation and integrate into CTP528CP604
  pylinac/core/mtf.py
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Add CTP730 class for low-contrast analysis in Catphan 604, including ROI settings for multiple contrast groups.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Bump version to 3.46.0.
  pylinac/version.py
Due: none

Added parameter to change the center of the horns from the FilteredFieldLayer
  pylinac/core/image_generator/layers.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Added docstring of the new change
  pylinac/core/image_generator/layers.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Add CatPhan 604 and CatPhan 700 modules with corresponding classes
  pylinac/ct.py
  pylinac/phantoms/CP504.py
  pylinac/phantoms/CP600.py
  pylinac/phantoms/CP604.py
  pylinac/phantoms/CP700.py
  pylinac/phantoms/__init__.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Refactor MTF classes: rename BeadMTF to PointSourceMTF, introduce SlantedWireMTF, and update CTP modules for improved clarity and functionality.
  pylinac/core/mtf.py
  pylinac/phantoms/CP504.py
  pylinac/phantoms/CP600.py
  pylinac/phantoms/CP604.py
  pylinac/phantoms/CP700.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Complete CTP730 low-contrast module: scoring, visualisation, and notes
  pylinac/phantoms/CATPHAN_PYLINAC_NOTES.md
  pylinac/phantoms/CP604.py
Due: none

fix readme cbct/quart/acr link
  README.rst
Due: none

Remove changes pipeline notes
  pylinac/phantoms/CATPHAN_PYLINAC_NOTES.md
Due: none

Refine CTP730 low-contrast module: update contrast descriptions, adjust ROI distances, and enhance background statistics handling
  pylinac/phantoms/CP604.py
Due: none

Add AnnularROI class and update both CTP730 and CTP515 to use annular background ROIs
  pylinac/core/roi.py
  pylinac/phantoms/CP504.py
  pylinac/phantoms/CP604.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Refine CTP730 ROI settings: update angles for contrast groups to improve accuracy
  pylinac/phantoms/CP604.py
Due: none

Refine CTP730 ROI settings: update angles, last commit was mirrored.
  pylinac/phantoms/CP604.py
Due: none

Refine CTP730 ROI settings: rods are at 50mm from center, not 47mm.
  pylinac/phantoms/CP604.py
Due: none

Add CP manual references and update documentation for CTP modules
  docs/source/conf.py
  pylinac/phantoms/CP504.py
  pylinac/phantoms/CP600.py
  pylinac/phantoms/CP604.py
  pylinac/phantoms/CP700.py
  pylinac/phantoms/cp_manuals/CP500-600Manual.pdf
  pylinac/phantoms/cp_manuals/CP503Manual.pdf
  pylinac/phantoms/cp_manuals/CP504Manual.pdf
  pylinac/phantoms/cp_manuals/CP604Manual.pdf
  pylinac/phantoms/cp_manuals/CP700Manual.pdf
Due: Build Docs

Add functions for calculating and fitting threshold contrast-detail detectability in tcdd.py
  pylinac/core/tcdd.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Add Halcyon Combo MLC Arrangement #604 @pylinac
  pylinac/picketfence.py
Due: Run Picket Fence Tests

Merged in feature/RAM-5603-acr-medium-mri-phantom-support (pull request #716)
  docs/source/acr.rst
  docs/source/changelog.rst
  pylinac/__init__.py
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Bump to 3.47
  pylinac/version.py
Due: none

pin matplotlib
  noxfile.py
Due: Build Docs

Merged in feature/RAM-6164-wl-virtual-shift-reporting (pull request #720)
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests

Merged in bugfix/RAM-6088-quart-high-contrast (pull request #723)
  docs/source/changelog.rst
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run Quart Tests

typo
  docs/source/planar_imaging.rst
Due: Build Docs

Going back to substract the DC component so NPS(0)=0
  pylinac/core/nps.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Add individual image details to MTWL
  docs/source/changelog.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz_mtmf.py
Due: Build Docs, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests

add uniformity metric results for Quart phantom
  docs/source/changelog.rst
  docs/source/quart.rst
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run Quart Tests

version bump
  pylinac/version.py
Due: none

Merged in gcp-wheels (pull request #727)
  bitbucket-pipelines.yml
  hatch_build.py
  pyproject.toml
Due: Build Docs

Merged in feature/RAM-5823-tg51-enums (pull request #721)
  README.rst
  docs/source/calibration_docs.rst
  docs/source/changelog.rst
  docs/source/code_snippets/tg51_class.py
  docs/source/code_snippets/tg51_function.py
  pylinac/calibration/tg51.py
  tests_basic/test_tg51.py
Due: Build Docs, Run TG-51/TRS-398 Tests

Merged in feature/RAM-6089-wl-rms-rss (pull request #728)
  docs/source/changelog.rst
  docs/source/winston_lutz.rst
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Build Docs, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests

Merged in feature/RAM-5823-new-kq-factors-part2 (pull request #722)
  docs/source/calibration_docs.rst
  docs/source/changelog.rst
  pylinac/calibration/tg51.py
  tests_basic/test_tg51.py
Due: Build Docs, Run TG-51/TRS-398 Tests
