Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **/*.rst, *.rst
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Uses scipy vectorized_filter for gamma analysis
  pylinac/core/gamma.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added Series2 to the test cases.
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Rectangle ROI rotation ability
  docs/source/changelog.rst
  pylinac/core/geometry.py
  pylinac/core/roi.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_roi.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

retain cached property
  pylinac/core/roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added test case for slice thickness.
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Corrected indentation
  tests_basic/test_cbct.py
Due: Run CBCT Tests

add pixels_flat
  docs/source/changelog.rst
  pylinac/core/geometry.py
  pylinac/core/roi.py
  pylinac/planar_imaging.py
  tests_basic/core/test_geometry.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added test case for uniformity.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Implementation of low contrast module.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

snap pixels after rotation
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Remove plotting that was ued only for development.
  tests_basic/test_cbct.py
Due: Run CBCT Tests

fix vmat
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Add water vial ROI
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

remove coordinate system
  pylinac/core/geometry.py
  pylinac/core/roi.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

make pixel properties consistent
  pylinac/core/geometry.py
  pylinac/core/roi.py
  tests_basic/core/test_roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

finesse
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

test stats
  tests_basic/core/test_roi.py
Due: Run core module tests

almost equal
  tests_basic/core/test_geometry.py
Due: Run core module tests

Updated slice_thickness values with results measured in imageJ
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Added inline comments where the numbers are coming from.
  tests_basic/test_cbct.py
Due: Run CBCT Tests

adjust rotate_points to assume DICOM coordinates
  docs/source/changelog.rst
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

MPL commonality
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

comment to clarify
  tests_basic/core/test_geometry.py
Due: Run core module tests

Added test for uniformity. The business logic is already implemented on the inherited class.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Added test for uniformity. The business logic is already implemented on the inherited class
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Correct values to match master branch..
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Added comment that the test values were taken form ImageJ
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Added analysis of Low contrast module for CatPhan 700. Mostly added a new module but the business logic was already inherited in the parent class.
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Changed order of modules to fit the physical model of the phantom
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Merged in python-version-tests (pull request #535)
  bitbucket-pipelines.yml
  noxfile.py
  pylinac/core/io.py
  pylinac/picketfence.py
  pylinac/starshot.py
  tests_basic/core/test_nps.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

add description of image coordinates
  docs/source/images/screen-coordinates.png
  docs/source/topics/images.rst
Due: Build Docs

Removed water vial from CatPhan600DirectDensity which was cause the test to incorrectly fail.
  tests_basic/test_cbct.py
Due: Run CBCT Tests

add vertices and use MPL polygon
  docs/source/changelog.rst
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

remove parallel runners from planar
  bitbucket-pipelines.yml
Due: none
