Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Build Docs:
  script:
  - uv run nox -s build_docs

Run CBCT Tests:
  script:
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cbct.py -n 2 --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run ACR CT/MRI Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Cheese Phantom Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cheese.py --cov=pylinac.cheese --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Quart Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Planar Imaging Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  - kill $MONITOR_PID
  ...

Run DLG Tests:
  script:
  - uv run pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Field Analysis Tests:
  script:
  - uv run pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Machine Logs Tests:
  script:
  - uv run pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Picket Fence Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  - kill $MONITOR_PID
  ...

Run Starshot Tests:
  script:
  - uv run pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run TG-51/TRS-398 Tests:
  script:
  - uv run pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Merged in task/refactor-plan-generator-loop-over-control-points (pull request #588)
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

Merged in task/refactor-plan-generator-use-BeamLimitingDeviceSequence-instead-of-mlc-boundaries (pull request #589)
  docs/source/plan_generator.rst
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/mlc.py
  tests_basic/test_plan_generator.py
Due: Build Docs, Plan generator tests

Merged in task/refactor-mlc-boundaries (pull request #600)
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Merged in longer-download-timeout (pull request #604)
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests

fix table width and the SNC-3.36 column
  docs/source/field_analysis.rst
Due: Build Docs

Merged in bugfix/RAM-5040-pylinac-acr-mr-large-phantom-slice-5-error (pull request #603)
  docs/source/acr.rst
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Merged in task/make-beam-public (pull request #602)
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

Merged in feature/RAM-5064-better-visualization-of-doselab-k-v-phantoms (pull request #607)
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Merged in feature/RAM-4736-add-analysis-for-quart-phantoms-water-disc-module (pull request #606)
  docs/source/changelog.rst
  docs/source/quart.rst
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run Quart Tests

Fix align_points rotation output when only two BBs are present.
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests

Fixed to check for length of measured_points to determine the number of points to align
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests

Merged in task/get-mlc-boundaries-from-any-beam-in-template (pull request #608)
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Merged in task/plan-generator-minor-refactors (pull request #609)
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

Merged in task/plan-gen-minor-refactors (pull request #610)
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

bump pylinac version
  pylinac/version.py
Due: none

Merged in bug/RAM-5113-vmat-preprocessing (pull request #613)
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Merged in feature/RAM-4286-acr-mr-phantom-analysis-add-sagittal-localizer-image-measurement-to-analysis (pull request #611)
  docs/source/acr.rst
  docs/source/changelog.rst
  pylinac/acr.py
  pylinac/core/image.py
  tests_basic/test_acr.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in bugfix/initialize-vmat-warningcollector (pull request #615)
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Uses scipy vectorized_filter for gamma analysis
  pylinac/core/gamma.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Moves optional-dependencies to dependency-groups
  .readthedocs.yaml
  bitbucket-pipelines.yml
  pyproject.toml
  uv.lock
Due: none

Merged in bug/RAM-4385-hill-profile-y-values (pull request #617)
  docs/source/changelog.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in task/vmat-refactor (pull request #616)
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Merged in task/RAM-5125-pylinac-refactor-1-d-profiles (pull request #621)
  docs/source/topics/profiles.rst
  pylinac/core/profile.py
  pylinac/metrics/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

revert profile changes briefly
  docs/source/topics/profiles.rst
  pylinac/core/profile.py
  pylinac/metrics/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in bug/RAM-5154-vertical-line-serialization (pull request #625)
  docs/source/changelog.rst
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in feature/RAM-5053-rapid-arc-dynamic-support (pull request #618)
  docs/source/changelog.rst
  docs/source/vmat_docs.rst
  pylinac/__init__.py
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Merged in feature/RAM-5155-single-log-load (pull request #626)
  docs/source/changelog.rst
  pylinac/log_analyzer.py
  tests_basic/test_logs.py
Due: Build Docs, Run Machine Logs Tests

Bump version to 3.39.0.
  pylinac/version.py
Due: none

Ad-hoc phantom localization and masses evaluation
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Fix background roi size.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Remove unused linear adjustments.
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Int to float.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Specks
  pylinac/core/roi.py
  pylinac/planar_imaging.py
  tests_basic/core/test_roi.py
  tests_basic/test_planar_imaging.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Polish.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Merged in feature/RAM-5205-top-10-acr-mammography-phantom-localization-and-fiber-analysis (pull request #628)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Polish based on PR review.
  pylinac/core/roi.py
  pylinac/planar_imaging.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in task/ACR-demo (pull request #631)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in task/ACR-results (pull request #632)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Path conditions:
  Build Docs: any of: **/*.rst, *.rst
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
