Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **.py, docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, tests_basic/test_field_profile_analysis.py, pylinac/field_profile_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz_mtmf.py, pylinac/winston_lutz.py
  Run Nuclear Tests: any of: pylinac/core/**, tests_basic/test_nuclear.py, pylinac/nuclear.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, tests_basic/test_generated_plans.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Added test.
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

Added test.
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

Address PR comments.
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Std_dev -> std
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Fix Changelog
  docs/source/changelog.rst
Due: Build Docs

Fixes based on PR comments.
  docs/source/helios.rst
Due: Build Docs

Added data to outputs. Polish code.
  pylinac/helios.py
Due: none

Added multi slice outputs.
  pylinac/helios.py
Due: none

Merged in agents.md (pull request #681)
  AGENTS.md
  docs/source/AGENTS.md
  tests_basic/AGENTS.md
Due: Build Docs

PR comments.
  pylinac/helios.py
Due: none

Polish.
  pylinac/helios.py
Due: none

Text wrap.
  docs/source/helios.rst
Due: Build Docs

Fix CNR equation for Quart phantom.
  docs/source/changelog.rst
  docs/source/quart.rst
Due: Build Docs

Fix image cax.
  docs/source/changelog.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in cursor-commands-to-generic-skills (pull request #682)
  .agents/skills/clean-up/SKILL.md
  .agents/skills/generate-pull-request/SKILL.md
  .agents/skills/generate-pull-request/references/pr-examples.md
  .agents/skills/pull-request-review/SKILL.md
  .agents/skills/pull-request-review/references/review-checklist.md
  .agents/skills/refactor/SKILL.md
  .cursor/commands/generate-pull-request.md
  .cursor/commands/pull-request-review.md
  .cursor/rules/python-rule.mdc
Due: none

Correct tag for ASYM Y in plan_generator
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

Fix leftmost roi.
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Clean-up.
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

Allow overriding CatPhan phantom roll
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Merged in modern-uv (pull request #676)
  .readthedocs.yaml
  bitbucket-pipelines.yml
  docs/source/developer.rst
  noxfile.py
  pyproject.toml
Due: Build Docs

Add labels to the planar imaging ROIs
  docs/source/changelog.rst
  pylinac/planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Added roi_label_font_size
  docs/source/changelog.rst
  pylinac/planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Added LCR.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Plot Doselab MV and kV.
  docs/source/planar_imaging.rst
Due: Build Docs

Differentiate between LC/HC ans size/location.
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Added tests.
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in profile-indexing (pull request #688)
  docs/source/changelog.rst
  pylinac/core/profile.py
  pylinac/version.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in profile-indexing (pull request #690)
  pylinac/core/profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Refactored roi_label_position.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Update changelog.
  docs/source/changelog.rst
Due: Build Docs

Fix plot.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Update roi positions.
  docs/source/planar_imaging.rst
Due: Build Docs

Generate dynamic plots.
  docs/source/planar_imaging.rst
Due: Build Docs

Merged in bugfix/RAM-5838-parallel (pull request #692)
  pylinac/core/profile.py
  tests_basic/core/profile_regression_fixtures.py
  tests_basic/core/test_profile.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in 3.42-cherry-pick (pull request #693)
  docs/source/changelog.rst
  pylinac/core/profile.py
  pylinac/version.py
  tests_basic/core/profile_regression_fixtures.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

test
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/core/geometry.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

mimimalism
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/core/geometry.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

mimimalism
  pylinac/core/geometry.py
  pylinac/planar_imaging.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

bump version, apply partial reversion
  docs/source/changelog.rst
  pylinac/version.py
Due: Build Docs

Updates based on PR comments.
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/core/geometry.py
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests
