Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Build Docs:
  script:
  - uv run nox -s build_docs

Run CBCT Tests:
  script:
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cbct.py -n 2 --cov=pylinac.cbct --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run ACR CT/MRI Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_acr.py --cov=pylinac.acr --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Cheese Phantom Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cheese.py --cov=pylinac.cheese --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Quart Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_quart.py --cov=pylinac.quart --cov-report term --junitxml=./test-reports/pytest_results.xml
  ...

Run Planar Imaging Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_planar_imaging.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  - kill $MONITOR_PID
  ...

Run DLG Tests:
  script:
  - uv run pytest tests_basic/test_dlg.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Field Analysis Tests:
  script:
  - uv run pytest tests_basic/test_field_analysis.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Machine Logs Tests:
  script:
  - uv run pytest tests_basic/test_logs.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Picket Fence Tests:
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_picketfence.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  - kill $MONITOR_PID
  ...

Run Starshot Tests:
  script:
  - uv run pytest tests_basic/test_starshot.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run TG-51/TRS-398 Tests:
  script:
  - uv run pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --cov-report term --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Merged in feature/RAM-4811-rectangle-rotation (pull request #531)
  bitbucket-pipelines.yml
  docs/source/changelog.rst
  pylinac/core/geometry.py
  pylinac/core/roi.py
  pylinac/planar_imaging.py
  pylinac/vmat.py
  tests_basic/core/test_geometry.py
  tests_basic/core/test_roi.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in rectangle-roi-plot-debug (pull request #539)
  pylinac/core/roi.py
  tests_basic/core/test_roi.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Refactored rectangle rotation
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Corrected casting as int to keep previous behavior.
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Typo
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Comments only: clarify rectangle orientation
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in numpy-v2 (pull request #541)
  bitbucket-pipelines.yml
  noxfile.py
  pylinac/core/array_utils.py
  pylinac/plan_generator/fluence.py
  pyproject.toml
  tests_basic/utils.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in bugfix/RAM-4806-RM-section-titles (pull request #542)
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

Added argument to allow the user to force or ingore inversion. Updated documentation.
  docs/source/changelog.rst
  docs/source/topics/images.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Renamed section for clarity
  docs/source/topics/images.rst
Due: Build Docs

Added comments inline for documentation.
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Unrelated: in Rectangle, separated text from ASCII diagram since it does not work for the web documentation.
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Clarify what inversion means in this context.
  docs/source/topics/images.rst
Due: Build Docs

Changes to documentation based on PR review.
  docs/source/topics/images.rst
Due: Build Docs

add some more notes
  docs/source/changelog.rst
Due: Build Docs

grammar
  docs/source/changelog.rst
Due: Build Docs

Merged in build-docs-all-the-time (pull request #545)
  bitbucket-pipelines.yml
Due: none

Merged in include-missed-test-files (pull request #547)
  bitbucket-pipelines.yml
  tests_basic/test_field_profile_analysis.py
  tests_basic/test_nuclear.py
Due: none

Merged in metrics-test-fix (pull request #546)
  bitbucket-pipelines.yml
  docs/source/changelog.rst
  pylinac/field_profile_analysis.py
Due: Build Docs

Search for the string title and do not include values in the test for the string results since there are specific tests for these.
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

Removed unused field.
  pylinac/core/geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Ignore test where the ROI's seem to be misplaced.
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

bump version for upgrade
  pylinac/version.py
Due: none

Added entry on changelog
  docs/source/changelog.rst
Due: Build Docs

Segment now inherits from RectangleROI instead of Rectangle.
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Added entry to changelog
  docs/source/changelog.rst
Due: Build Docs

Update business logic in vmat doc
  docs/source/vmat_docs.rst
Due: Build Docs

Merged in feature/RAM-4798-catphan700-spatial-resolution-line-pair (pull request #549)
  pylinac/core/geometry.py
  pylinac/core/mtf.py
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

implement arbitrary intrinsic transforms
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added documentation to describe rigid transformations.
  docs/source/index.rst
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Clarify pose
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Typo.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Wording.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Merged in pypi-packaging-step (pull request #553)
  bitbucket-pipelines.yml
Due: none

fix it, finally
  pylinac/core/geometry.py
  tests_basic/core/test_geometry.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added example for ROI placement.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Typos
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Replace matrix_transform with direct method.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Path conditions:
  Build Docs: any of: **/*.rst, *.rst
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
