Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **/*.rst, *.rst
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Renaming variables for better clarity.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Added comments regarding the order of operations of rigid transformations per code review request.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Wording.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Uses scipy vectorized_filter for gamma analysis
  pylinac/core/gamma.py
  pyproject.toml
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added comment based on code review.
  docs/source/changelog.rst
Due: Build Docs

fix bug in results_data
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Separate math from code.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Wording.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Clarifications based on PR review.
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Wording
  docs/source/topics/rigid_transformations.rst
Due: Build Docs

Infer beam_type (static or gantry) from the control points
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Fix test
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Remove beam_type from halcyon beams. Fix fluence generator when the leaves are defined only on the first control point.
  pylinac/plan_generator/dicom.py
  pylinac/plan_generator/fluence.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Infer gantry rotation direction from control points
  pylinac/plan_generator/dicom.py
  tests_basic/test_plan_generator.py
Due: Plan generator tests

Vectorizes inner loop for gamma_geometric
  pylinac/core/gamma.py
  uv.lock
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Add slice number to title.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

bump version
  pylinac/version.py
  pyproject.toml
Due: none

Changed format according to Jira request.
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Add entry to changelog
  docs/source/changelog.rst
Due: Build Docs

type
  docs/source/changelog.rst
Due: Build Docs

Fix spacing in MTF
  pylinac/ct.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Removed references to ImageJ since it's using a different method
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Wording
  docs/source/changelog.rst
Due: Build Docs

Merged in bugfix/RAM-4977-p2-pylinac-issue-when-attempting-to-use-new-inversion-method-on-previously-working-image (pull request #577)
  docs/source/changelog.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

bump version after staging cut
  pylinac/version.py
Due: none

Merged in task/RAM-4865-pylinac-edge-spread-function-mtf-tooling (pull request #578)
  docs/source/changelog.rst
  docs/source/topics/mtf.rst
  pylinac/core/mtf.py
  tests_basic/core/test_mtf.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

only build docs in BB for python and docs changes
  bitbucket-pipelines.yml
Due: none

Bugfix: correct VARIAN_STANDARD to IEC Refactor to allow conversions to accept ndarrays
  pylinac/cheese.py
  pylinac/core/scale.py
  tests_basic/core/test_scale.py
  tests_basic/core/test_utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Added entry to changelog.
  docs/source/changelog.rst
Due: Build Docs

Wording.
  docs/source/changelog.rst
Due: Build Docs

Improve gantry wrapping. np.unwrap only works for intervals less than 180.
  pylinac/core/scale.py
  pylinac/plan_generator/dicom.py
  tests_basic/core/test_scale.py
  tests_basic/test_plan_generator.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Make changes to Halcyon beam
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

Refactor: Pydicom knows how to interpret values based on VR so no need to convert from num to string
  pylinac/plan_generator/dicom.py
Due: Plan generator tests

Fix slice number in title: use 1-based indexing
  pylinac/ct.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Merged in bugfix/RAM-4559-profile-interpolation (pull request #567)
  docs/source/changelog.rst
  docs/source/field_analysis.rst
  docs/source/images/1-3_sampling_rate.png
  docs/source/images/10FFF-ic-profiler.png
  docs/source/images/9e_ic_profiler.png
  docs/source/images/ic_profiler_settings.png
  pylinac/core/profile.py
  pylinac/field_analysis.py
  tests_basic/core/test_profile.py
  tests_basic/test_field_analysis.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests

Merged in task/infer-gantry-rotation-from-controlpoints (pull request #582)
  docs/source/changelog.rst
  pylinac/core/scale.py
  pylinac/plan_generator/dicom.py
  tests_basic/core/test_scale.py
  tests_basic/test_plan_generator.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Plan generator tests, Run core module tests
