Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Build Docs:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run nox -s build_docs
  caches:
  - nox-build-docs

Run CBCT Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cbct.py -n 3 --junitxml=./test-reports/pytest_results.xml
  ...

Run ACR CT/MRI Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_acr.py -n 3 --junitxml=./test-reports/pytest_results.xml
  ...

Run Cheese Phantom Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  ...

Run Quart Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_quart.py -n 3 --junitxml=./test-reports/pytest_results.xml
  ...

Run Planar Imaging Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  ...

Run DLG Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_dlg.py --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Field Analysis Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_field_analysis.py --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Machine Logs Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_logs.py --junitxml=./test-reports/pytest_results.xml
  caches:
  - machine-logs

Run Picket Fence Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  ...

Run Starshot Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_starshot.py -n 3 --junitxml=./test-reports/pytest_results.xml
  caches:
  - starshot

Run TG-51/TRS-398 Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --junitxml=./test-reports/pytest_results.xml

Merged in task/ACR-fibers (pull request #633)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Bump to 3.39.1
  pylinac/version.py
Due: none

Merged in task/ACR-docu (pull request #634)
  docs/source/planar_imaging.rst
Due: Build Docs

Merged in cursor-commands (pull request #635)
  .cursor/commands/clean-up.md
  .cursor/commands/generate-pull-request.md
  .cursor/commands/pull-request-review.md
  .cursor/commands/refactor.md
  .cursor/rules/python-rule.mdc
  .cursorignore
Due: none

easy PDF docs
  .readthedocs.yaml
Due: none

latex configuration
  docs/source/conf.py
Due: Build Docs

Merged in bugfix/RAM-5287-P3-Quart-Phantom-Image-rotates-for-unknown-reason (pull request #636)
  docs/source/changelog.rst
  pylinac/ct.py
  pylinac/quart.py
  tests_basic/test_quart.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

Fix plot color.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Changelog.
  docs/source/changelog.rst
Due: Build Docs

Fix tests
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Fix image inversion in FieldProfileAnalysis for large fields.
  pylinac/field_profile_analysis.py
Due: Run Field Analysis Tests

undo algorithm refactor
  bitbucket-pipelines.yml
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in task/RAM-5368-ACR-plot-plotting-part-2 (pull request #646)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in task/RAM-5368-acr-mammo-parameters (pull request #647)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
Due: Build Docs

Merged in bug/RAM-5399-ACR-plot-OOM (pull request #649)
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  pylinac/version.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

DRCS collimator deviation.
  docs/source/changelog.rst
  pylinac/vmat.py
  tests_basic/test_vmat.py
Due: Build Docs, Run TG-51/TRS-398 Tests, Run VMAT Tests

Fix tests.
  tests_basic/test_vmat.py
Due: Run VMAT Tests

bump version
  pylinac/version.py
Due: none

Polish.
  tests_basic/test_vmat.py
Due: Run VMAT Tests

Merged in docs/RAM-5337-pdf-docs (pull request #638)
  bitbucket-pipelines.yml
  noxfile.py
Due: Build Docs

Revert refactor.
  tests_basic/test_vmat.py
Due: Run VMAT Tests

Polish text.
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

Refactor test vmat.
  tests_basic/test_vmat.py
Due: Run VMAT Tests

Make `instance` an object attribute.
  tests_basic/test_vmat.py
Due: Run VMAT Tests

Default window level.
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Default invert=True
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Add 'typing-extensions' to pyproject.toml per PR review.
  pyproject.toml
Due: none

Merged in docs/fix-low-contrast-median-documentation (pull request #655)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  docs/source/topics/contrast.rst
Due: Build Docs

RAM-4979: initial draft.
  docs/source/acr.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Bump version to 3.41.0.
  pylinac/version.py
Due: none

Fix decoding of string output with utf-8 replacement
  pylinac/core/utilities.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Include logo in PylinacCanvas constructor for ACR CT
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

Fix case where BB image can be inverted.
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

Return type.
  pylinac/picketfence.py
Due: Run Picket Fence Tests

pre-commit bump
  .pre-commit-config.yaml
  bitbucket-pipelines.yml
  docs/source/topics/xim.rst
  pylinac/acr.py
  pylinac/calibration/tg51.py
  pylinac/calibration/trs398.py
  pylinac/ct.py
  pylinac/log_analyzer.py
  pylinac/nuclear.py
  pylinac/starshot.py
  pylinac/vmat.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Machine Logs Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Nuclear Tests

Remove image contrast enhancement. Reduced ROIs sizes.
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

Added kernel_size_multiplier.
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Path conditions:
  Build Docs: any of: **.py, docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, tests_basic/test_field_profile_analysis.py, pylinac/field_profile_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz_mtmf.py, pylinac/winston_lutz.py
  Run Nuclear Tests: any of: pylinac/core/**, tests_basic/test_nuclear.py, pylinac/nuclear.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, tests_basic/test_generated_plans.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
