Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Build Docs:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run nox -s build_docs
  caches:
  - nox-build-docs

Run CBCT Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_cbct.py -n 3 --junitxml=./test-reports/pytest_results.xml
  ...

Run ACR CT/MRI Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_acr.py -n 3 --junitxml=./test-reports/pytest_results.xml
  ...

Run Cheese Phantom Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  ...

Run Quart Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  - uv run pytest tests_basic/test_quart.py -n 3 --junitxml=./test-reports/pytest_results.xml
  ...

Run Planar Imaging Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  size: 2x
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  ...

Run DLG Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_dlg.py --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Field Analysis Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_field_analysis.py --junitxml=./test-reports/pytest_results.xml
  caches:
  - testfiles

Run Machine Logs Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_logs.py --junitxml=./test-reports/pytest_results.xml
  caches:
  - machine-logs

Run Picket Fence Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - null
  - apt-get update && apt-get install -y --no-install-recommends procps jq
  - chmod +x memory_monitor.sh
  - nohup ./memory_monitor.sh &
  - MONITOR_PID=$!
  ...

Run Starshot Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_starshot.py -n 3 --junitxml=./test-reports/pytest_results.xml
  caches:
  - starshot

Run TG-51/TRS-398 Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv run pytest tests_basic/test_tg51.py tests_basic/test_trs398.py --junitxml=./test-reports/pytest_results.xml

Add low_contrast_method to analyze method.
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

remove file from field analysis Results
  pylinac/field_analysis.py
Due: Run Field Analysis Tests

Remove file names
  pylinac/log_analyzer.py
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests, Run Machine Logs Tests

Introduce sanity check for small low contrast rois.
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

Merged in pre-commit-bump (pull request #661)
  .pre-commit-config.yaml
  bitbucket-pipelines.yml
  docs/source/topics/xim.rst
  pylinac/acr.py
  pylinac/calibration/tg51.py
  pylinac/calibration/trs398.py
  pylinac/ct.py
  pylinac/log_analyzer.py
  pylinac/nuclear.py
  pylinac/starshot.py
  pylinac/vmat.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Machine Logs Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Nuclear Tests

Clean up per PR review comments.
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Fix test.
  tests_basic/test_acr.py
Due: Run ACR CT/MRI Tests

Merged in RAM-5622-acr-ct-mean-hu-values (pull request #664)
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Include logo in PylinacCanvas initialization
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

Bumpy to version 3.42.0
  pylinac/version.py
Due: none

Merged in RAM-1999-profile-centering (pull request #662)
  docs/source/changelog.rst
  pylinac/core/profile.py
  tests_basic/core/test_profile.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in ram-5650-plotly-acr-mammo-improvements (pull request #667)
  docs/source/changelog.rst
  pylinac/core/image.py
  pylinac/planar_imaging.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in acr-mammo-plotly-cone-down (pull request #668)
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Merged in ram-5679-acr-mammo-plotly-polish (pull request #669)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

GE CT Helios phantom.
  docs/source/helios.rst
  docs/source/index.rst
  pylinac/__init__.py
  pylinac/helios.py
  tests_basic/test_helios.py
Due: Build Docs

Updated results data structure.
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Clean-up plotting.
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Remove helios from index for now.
  docs/source/index.rst
Due: Build Docs

Remove helios documentation for now.
  docs/source/helios.rst
Due: Build Docs

Add low contrast module.
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Outputs
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Low contrast multi slice.
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Fixes based on PR review.
  bitbucket-pipelines.yml
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Fix test.
  tests_basic/test_helios.py
Due: none

Fix merge.
  pylinac/helios.py
Due: none

Fix test.
  pylinac/helios.py
Due: none

Docu.
  docs/source/changelog.rst
  docs/source/helios.rst
  docs/source/index.rst
Due: Build Docs

bump version
  pylinac/version.py
Due: none

Fix save images directory.
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

Fix ACR demo dataset error
  pylinac/acr.py
Due: Run ACR CT/MRI Tests

Changelog.
  docs/source/changelog.rst
Due: Build Docs

Merged in python-3.10-min-version (pull request #671)
  .pre-commit-config.yaml
  bitbucket-pipelines.yml
  conftest.py
  docs/source/changelog.rst
  docs/source/developer.rst
  noxfile.py
  pylinac/__init__.py
  pylinac/calibration/trs398.py
  pylinac/cheese.py
  pylinac/core/io.py
  pylinac/core/mtf.py
  pylinac/core/typing.py
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/field_profile_analysis.py
  pylinac/metrics/image.py
  pylinac/metrics/profile.py
  pylinac/metrics/utils.py
  pylinac/planar_imaging.py
  pyproject.toml
  tests_basic/test_planar_imaging.py
  tests_basic/test_vmat.py
  tests_basic/utils.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Fix save images in ACR and Quart modules. Added tests.
  pylinac/acr.py
  pylinac/quart.py
  tests_basic/test_acr.py
  tests_basic/test_quart.py
Due: Run ACR CT/MRI Tests, Run Quart Tests

Updated changelog
  docs/source/changelog.rst
Due: Build Docs

Added test for saving images.
  tests_basic/test_helios.py
Due: none

Ruff fixes.
  pylinac/helios.py
Due: none

Fix test.
  tests_basic/test_quart.py
Due: Run Quart Tests

Std fix.
  pylinac/helios.py
Due: none

Changes based on PR review.
  pylinac/helios.py
  tests_basic/test_helios.py
Due: none

Path conditions:
  Build Docs: any of: **.py, docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, tests_basic/test_field_profile_analysis.py, pylinac/field_profile_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz_mtmf.py, pylinac/winston_lutz.py
  Run Nuclear Tests: any of: pylinac/core/**, tests_basic/test_nuclear.py, pylinac/nuclear.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, tests_basic/test_generated_plans.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**
