Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Path conditions:
  Build Docs: any of: **.py, docs/**
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run ACR CT/MRI Tests: any of: pylinac/core/**, tests_basic/test_acr.py, pylinac/ct.py, pylinac/acr.py
  Run Cheese Phantom Tests: any of: pylinac/core/**, tests_basic/test_cheese.py, pylinac/ct.py, pylinac/cheese.py
  Run Quart Tests: any of: pylinac/core/**, tests_basic/test_quart.py, pylinac/quart.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run DLG Tests: any of: pylinac/core/**, tests_basic/test_dlg.py, pylinac/dlg.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, tests_basic/test_field_profile_analysis.py, pylinac/field_profile_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run Winston-Lutz Multi-Target Multi-Field Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz_mtmf.py, pylinac/winston_lutz.py
  Run Nuclear Tests: any of: pylinac/core/**, tests_basic/test_nuclear.py, pylinac/nuclear.py
  Plan generator tests: any of: pylinac/core/**, pylinac/plan_generator/**, tests_basic/test_plan_generator.py, tests_basic/test_generated_plans.py, scripts/prefab_plan_generator.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Merged in bugfix/RAM-6222-ACR-MRI-medium-piu (pull request #730)
  docs/source/acr.rst
  docs/source/changelog.rst
  pylinac/acr.py
  tests_basic/test_acr.py
Due: Build Docs, Run ACR CT/MRI Tests

Bump to 3.49
  pylinac/version.py
Due: none

Add .build-venv/ to .gitignore for better environment management. Ready to build wheels.
  .gitignore
Due: none

Add .wrangler/ to .gitignore for improved environment management
  .gitignore
Due: none

Update typing-extensions dependency version to >=4.4.0 for compatibility
  pyproject.toml
Due: none

Merged in feature/RAM-4788-z-flip-dicom-stack (pull request #732)
  docs/source/changelog.rst
  docs/source/topics/images.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
  tests_basic/test_cbct.py
  tests_basic/test_quart.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in feature/RAM-6284-no-mtf-extrapolation (pull request #733)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  docs/source/topics/mtf.rst
  pylinac/acr.py
  pylinac/core/mtf.py
  pylinac/ct.py
  pylinac/helios.py
  pylinac/planar_imaging.py
  tests_basic/core/test_mtf.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in feature/RAM-6307-starshot-reference-point (pull request #735)
  docs/source/changelog.rst
  docs/source/starshot_docs.rst
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Build Docs, Run Starshot Tests

Merged in gcp-build-version (pull request #738)
  bitbucket-pipelines.yml
  hatch_build.py
  scripts/project_version.py
Due: Build Docs

Merged in fix-starshot-cache (pull request #737)
  pylinac/core/io.py
  tests_basic/test_starshot.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in bugfix/RAM-6310-starshot-wobble-axis (pull request #736)
  docs/source/changelog.rst
  docs/source/topics/images.rst
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Build Docs, Run Starshot Tests

test(image): add regression for lazy uid filtering refs #608
  tests_basic/core/test_lazy_dicom_image_stack.py
Due: Run core module tests

fix(image): keep lazy stack paths synced to uid filter closes #608
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

feat(utils): make GCP optional for local testing (skip external cloud access)
  tests_basic/utils.py
Due: none

feat(core/io): add LoadableMixin for unified loading helpers
  pylinac/core/io.py
  tests_basic/core/test_io.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

refactor(vmat): adopt LoadableMixin for demo and zip loading
  pylinac/vmat.py
Due: Run TG-51/TRS-398 Tests, Run VMAT Tests

feat(core/image): support safe lazy zip-backed DICOM stacks
  pylinac/core/image.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

refactor(picketfence): adopt LoadableMixin for loader helpers
  pylinac/picketfence.py
Due: Run Picket Fence Tests

refactor(starshot): adopt LoadableMixin and preserve zip loading behavior
  pylinac/starshot.py
Due: Run Starshot Tests

refactor(ct): adopt LoadableMixin for demo and zip-backed loading
  pylinac/acr.py
  pylinac/cheese.py
  pylinac/ct.py
  pylinac/quart.py
Due: Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

refactor(winston_lutz): adopt LoadableMixin for archive and demo loading
  pylinac/winston_lutz.py
Due: Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests

refactor(field_profile_analysis): adopt LoadableMixin demo loading
  pylinac/field_profile_analysis.py
Due: Run Field Analysis Tests

refactor(planar_imaging): adopt DEMO_FILES for demo loading
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

refactor(log_analyzer): adopt LoadableMixin demo loading
  pylinac/log_analyzer.py
Due: Run Machine Logs Tests

refactor(field_analysis): adopt LoadableMixin demo loading
  pylinac/field_analysis.py
Due: Run Field Analysis Tests

Merged in feature/RAM-6338-manual-bbs-light-rad (pull request #739)
  docs/source/changelog.rst
  docs/source/planar_imaging.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Merged in easier-warning-filtering (pull request #740)
  docs/source/changelog.rst
  pylinac/core/warnings.py
  tests_basic/core/test_warnings.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in feature/RAM-6368-starshot-plotly-matches-mpl (pull request #742)
  docs/source/changelog.rst
  pylinac/starshot.py
  tests_basic/test_starshot.py
Due: Build Docs, Run Starshot Tests

Merged in bugfix/RAM-6350-private-tiff-tags (pull request #741)
  docs/source/changelog.rst
  pylinac/core/image.py
  tests_basic/core/test_image.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests, Run Planar Imaging Tests, Run DLG Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run Winston-Lutz Multi-Target Multi-Field Tests, Run Nuclear Tests, Plan generator tests, Run core module tests

Merged in feature/RAM-6396-plotly-for-light-rad (pull request #743)
  docs/source/changelog.rst
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Build Docs, Run Planar Imaging Tests

Merged in bugfix/RAM-6365-acr-mri-tilt (pull request #744)
  docs/source/changelog.rst
  pylinac/ct.py
  tests_basic/test_acr.py
  tests_basic/test_cbct.py
Due: Build Docs, Run CBCT Tests, Run ACR CT/MRI Tests, Run Cheese Phantom Tests, Run Quart Tests

improve the plotly PF analysis in prep for RM integration
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

simplify
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

fix kraken deploy step w/ new trigger name
  noxfile.py
Due: Build Docs
